In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("House.csv")

In [3]:
data

     Bedrooms  Bathrooms  Status  Location  Price  Facing  Type  Size
0           0          0       0        34  68.04       1     3  1944
1           2          2       1        17  45.57       1     0  1266
2           3          3       1        56  55.50       8     0  1587
3           0          0       2        31  15.50       0     3  1560
4           2          2       1        56  48.00       1     0  1450
..        ...        ...     ...       ...    ...     ...   ...   ...
909         0          0       2         4  85.80       8     3  2040
910         0          0       2         4  85.80       8     3  2040
911         0          0       2         4  85.80       8     3  2040
912         0          0       2         4  85.80       8     3  2040
913         0          0       0        80  19.95       0     3  2394

[914 rows x 8 columns]

In [4]:
data.tail()

     Bedrooms  Bathrooms  Status  Location  Price  Facing  Type  Size
909         0          0       2         4  85.80       8     3  2040
910         0          0       2         4  85.80       8     3  2040
911         0          0       2         4  85.80       8     3  2040
912         0          0       2         4  85.80       8     3  2040
913         0          0       0        80  19.95       0     3  2394

In [5]:
data.head()

   Bedrooms  Bathrooms  Status  Location  Price  Facing  Type  Size
0         0          0       0        34  68.04       1     3  1944
1         2          2       1        17  45.57       1     0  1266
2         3          3       1        56  55.50       8     0  1587
3         0          0       2        31  15.50       0     3  1560
4         2          2       1        56  48.00       1     0  1450

In [6]:
data.isnull().sum()

Bedrooms     0
Bathrooms    0
Status       0
Location     0
Price        0
Facing       0
Type         0
Size         0
dtype: int64

In [7]:
data['Location'].unique()

array([34, 17, 56, 31, 23, 18, 14,  7, 77, 55, 52, 32, 45, 11, 13, 62,  8,
       67, 82, 63, 38, 20, 72, 37, 85,  0,  2, 26, 64, 44, 33, 40, 81, 19,
        1, 48, 47,  6, 46, 28, 74, 41, 71, 15, 57, 42, 75, 10, 24, 73, 21,
       59, 88, 22,  4, 39, 30, 50, 78, 29,  5, 51, 49, 66, 76, 70, 79, 61,
       16, 43, 84,  9, 86, 53, 58, 80], dtype=int64)

In [8]:
data.describe

<bound method NDFrame.describe of      Bedrooms  Bathrooms  Status  Location  Price  Facing  Type  Size
0           0          0       0        34  68.04       1     3  1944
1           2          2       1        17  45.57       1     0  1266
2           3          3       1        56  55.50       8     0  1587
3           0          0       2        31  15.50       0     3  1560
4           2          2       1        56  48.00       1     0  1450
..        ...        ...     ...       ...    ...     ...   ...   ...
909         0          0       2         4  85.80       8     3  2040
910         0          0       2         4  85.80       8     3  2040
911         0          0       2         4  85.80       8     3  2040
912         0          0       2         4  85.80       8     3  2040
913         0          0       0        80  19.95       0     3  2394

[914 rows x 8 columns]>

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [10]:
a,b=np.arange(10).reshape(5,2),range(5)
a,b

(array([[0, 1],
        [2, 3],
        [4, 5],
        [6, 7],
        [8, 9]]),
 range(0, 5))

In [11]:
w,p,q,r=train_test_split(a,b,random_state=1,test_size=0.3)
w,p,q,r

(array([[8, 9],
        [0, 1],
        [6, 7]]),
 array([[4, 5],
        [2, 3]]),
 [4, 0, 3],
 [2, 1])

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914 entries, 0 to 913
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Bedrooms   914 non-null    int64
 1   Bathrooms  914 non-null    int64
 2   Status     914 non-null    int64
 3   Location   914 non-null    int64
 4   Price      914 non-null    float64
 5   Facing     914 non-null    int64
 6   Type       914 non-null    int64
 7   Size       914 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 57.2 KB

In [13]:
x=data.drop(columns=['Price'])
y=data['Price']

In [14]:
x.head()

   Bedrooms  Bathrooms  Status  Location  Facing  Type  Size
0         0          0       0        34       1     3  1944
1         2          2       1        17       1     0  1266
2         3          3       1        56       8     0  1587
3         0          0       2        31       0     3  1560
4         2          2       1        56       1     0  1450

In [15]:
y.head()

0    68.04
1    45.57
2    55.50
3    15.50
4    48.00
Name: Price, dtype: float64

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [17]:
len(x_train),len(x_test)

(731, 183)

In [18]:
lin_reg=LinearRegression()

In [19]:
lin_reg.fit(x_train,y_train)

LinearRegression()

In [20]:
y_preds=lin_reg.predict(x_test)

In [21]:
y_test

380    32.02
854    69.50
355    37.00
357    35.00
362    30.20
       ...
210     5.40
803    37.18
582    36.36
874    43.67
708    46.40
Name: Price, Length: 183, dtype: float64

In [22]:
x_test,y_preds

(     Bedrooms  Bathrooms  Status  Location  Facing  Type  Size
 380         0          0       0        22       0     3  1647
 854         3          3       1        23       1     0  1852
 355         2          2       1        44       1     2   960
 357         2          2       1        44       1     0   960
 362         0          0       0        22       0     0  1647
 ..        ...        ...     ...       ...     ...   ...   ...
 210         0          0       0         0       3     3  1080
 803         0          0       0        13       0     3  1809
 582         0          0       0        13       8     3  1818
 874         2          2       1        34       1     1  1266
 708         0          0       0        13       3     3  3483

 [183 rows x 7 columns],
 array([28.27400826, 71.34005044, 42.49233384, 44.15611881, 30.76968573,
        44.0397809 , 33.55469268, 29.44354927, 33.12024718, 51.93029613,
        28.63213709, 22.95990627, 13.89472015, 22.72599276, 86.47613753,
        38.24178326, 22.9909601 , 69.87221518, 28.44581411, 59.57003453,
        44.83736307, 18.89908785, 48.54766058, 22.13596998, 51.24806698,
        42.84333847, 65.01610108, 66.55992309, 24.98341436, 29.03978689,
        62.5185755 , 30.68094848, 28.33067352, 72.466549  ,  2.05644809,
        30.72546035, 42.49233384, 33.98167622, 53.63372696, 27.56784838,
        26.2551916 , 29.19210256, 18.57605197, 42.44325635, 41.64499407,
        44.83736307, 23.97554536,  3.6382282 , 49.13768336, 21.79036526,
        31.53546436, 30.72546035, 48.73061687, 31.42723693, 23.22179495,
        13.3955577 , 54.78473825, 49.66419031, 24.33936214, 39.88508608,
        62.35023276, 73.6859619 , 13.74964742, 44.15611881, 50.68201726,
        82.01948716, 21.98070083, 30.76528078, 40.84673179, 55.05339562,
        64.72442178, 13.61091496, 69.97087153, 29.44824071, 31.47921076,
        26.56157551, 65.01610108, 30.20737093, 50.91486299, 47.39690311,
        30.5077754 , 25.44785459, 18.89908785, 25.29727687, 42.8108041 ,
        15.89123517, 40.04464589, 44.15611881, 59.67512466, 18.38972898,
        14.20130846, 18.6837306 , 58.15257282, 31.3950713 , 25.13762442,
         9.90436574, 30.30966975, 60.45147042, 28.96928334, 48.23712227,
        81.25352238, 13.3955577 , 30.78862711, 42.6029088 , 65.312954  ,
        40.09298138, 29.0324501 , 33.48726435, 39.3112031 , 45.00503242,
        63.64916902, 13.72061314, 16.91164269, 65.01610108, 17.47061164,
        29.44354927, 23.22179495,  2.42370756, 13.89039943, 26.97176693,
        -0.14078318, 26.72939495, 33.18341394, 27.99452379, 18.26646923,
        15.57021883, 21.05716413, 44.0397809 , 60.58168906, 72.5050233 ,
        34.29725015, 23.09863873, 26.67748371, 44.0397809 , 30.3883141 ,
        27.11087011, 61.89789764, 43.50797293, 45.35461147, 18.36069471,
        56.40691029, 61.03403025, 53.31069107, 15.13255266, 28.92477147,
        30.38252262, 26.32569515, 21.79036526, 14.4331133 , 65.312954  ,
        40.02096879, 22.26932262, 36.26878442, 33.00918176, 57.4382243 ,
        36.47294874, 34.18957152, 56.22534132,  2.12640154, 59.45683371,
        45.2773964 , 23.22179495, 37.34544554, 35.38737919, 21.70323591,
        20.92893622, 27.6920637 , 38.06947329, 18.77955245, 65.01610108,
        28.33067352, 58.42892409, 57.63499724, 25.71956898, 44.0397809 ,
        44.15611881, 34.14132867, 27.59082399, 18.57605197, 31.42723693,
        30.72546035, 49.06294811, 60.79955772]))

In [23]:
from sklearn.metrics import r2_score,mean_squared_error

In [24]:
print("Linear Regression Metrics/Model Evaluation:")
print("R_Squared error:",r2_score(y_test,y_preds)) 
print('Mean Squared error:',mean_squared_error(y_test,y_preds))

Linear Regression Metrics/Model Evaluation:
R_Squared error: 0.5087037141094887
Mean Squared error: 282.5589617340104

In [33]:
bedrooms=int(input('Enter number of Bedrooms:'))
bathrooms=int(input('Enter number of Bathrooms:'))
status=int(input('Enter Status:'))
size=int(input('Enter SQFT:'))
location=int(input('Enter Location:'))
facing=int(input('Enter Facing:'))
Type=int(input('Enter type:'))

Enter number of Bedrooms: 3
Enter number of Bathrooms: 3
Enter Status: 3
Enter SQFT: 3
Enter Location: 3
Enter Facing: 3
Enter type: 3

In [26]:
x.columns

Index(['Bedrooms', 'Bathrooms', 'Status', 'Location', 'Facing', 'Type',
       'Size'],
      dtype='object')

In [27]:
user_input=np.array([[bedrooms,bathrooms,status,location,facing,Type,size]])
user_input

array([[   3,    3,    4,   56,    3,    2, 1200]])

In [28]:
result=lin_reg.predict(user_input)[0].round(2)

result

C:\Users\Deepu\Desktop\Project\kits\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

71.71

In [29]:
import pickle
pickle.dump(lin_reg,open('lin_model.pkl','wb'))

In [30]:
model=pickle.load(open('lin_model.pkl','rb'))
user_input=np.array([[bedrooms,bathrooms,status,location,facing,Type,size]])
result=model.predict(user_input)[0].round(2)
result

C:\Users\Deepu\Desktop\Project\kits\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

71.71

In [31]:
!pip install streamlit

Requirement already satisfied: streamlit in c:\users\deepu\desktop\project\kits\lib\site-packages (1.29.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (5.2.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (1.7.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: importlib-metadata<7,>=1.4 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (6.11.0)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (1.26.2)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (23.2)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (2.1.4)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (10.1.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (4.25.1)
Requirement already satisfied: pyarrow>=6.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (14.0.2)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (13.7.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (4.9.0)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (3.1.40)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (6.4)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\deepu\desktop\project\kits\lib\site-packages (from streamlit) (3.0.0)
Requirement already satisfied: jinja2 in c:\users\deepu\desktop\project\kits\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from altair<6,>=4.0->streamlit) (4.20.0)
Requirement already satisfied: toolz in c:\users\deepu\desktop\project\kits\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\deepu\desktop\project\kits\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\deepu\desktop\project\kits\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in c:\users\deepu\desktop\project\kits\lib\site-packages (from importlib-metadata<7,>=1.4->streamlit) (3.17.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deepu\desktop\project\kits\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\deepu\desktop\project\kits\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\deepu\desktop\project\kits\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\deepu\desktop\project\kits\lib\site-packages (from requests<3,>=2.27->streamlit) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\deepu\desktop\project\kits\lib\site-packages (from requests<3,>=2.27->streamlit) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\deepu\desktop\project\kits\lib\site-packages (from requests<3,>=2.27->streamlit) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\deepu\desktop\project\kits\lib\site-packages (from requests<3,>=2.27->streamlit) (2023.11.17)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.17.2)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\deepu\desktop\project\kits\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\deepu\desktop\project\kits\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\deepu\desktop\project\kits\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\deepu\desktop\project\kits\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.32.0)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\deepu\desktop\project\kits\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.15.2)
Requirement already satisfied: mdurl~=0.1 in c:\users\deepu\desktop\project\kits\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)

In [32]:
for col in data.columns:
  if data[col].dtype == 'object':
    data[col] = label.fit_transform(data[col])
    encoded_to_original = dict(zip(label.transform(label.classes_),
                                  label.classes_))
    print(col,' = {')
    for encoded_label, original_value in encoded_to_original.items():
      print(f'"{original_value}" : {encoded_label}',end=',')
    print('}')
    print('----------------------------------------------------------------')